html, body {
  height: 100%;
}

.mainArea {
  height: 100vh;
  background-image: url("../src/images/main-area.jpg");
  background-repeat: no-repeat;
}

.sidePanel>h1 {
  margin-bottom: 5%;
  margin-top: 5%;
}

.sidePanel>h3 {
  margin-top: 15%;
  margin-bottom: 5%;
}

.form {

}
